<%= form_with(model: user, local: true) do |form| %>
  <div class="container py-5 h-100">
    <div class="row">
      <div class="field mb-2">
        <%= form.label :name, class: 'form-label' %>
        <%= form.text_field :name, id: :user_name, class: 'form-control text-muted' %>
      </div>

      <div class="field mb-2">
        <%= form.date_select :birth_date, start_year: 1920, end_year: 2021, class: 'form-control datepicker', type: 'date' %>
      </div>
      <div class="field mb-2">
        <%= form.label :email, class: 'form-label' %>
        <%= form.text_field :email, id: :user_email, class: 'form-control text-muted', placeholder: 'Email' %>
      </div>

      <div class="field mb-2">
        <%= form.label :role, class: 'form-label' %>
        <%= form.select(:role, User.roles.keys, { }, { class: 'form-control text-muted' }) %>
      </div>

      <div class="actions">
        <button type="submit" class="btn btn-primary btn-sm w-100">Submit</button>
      </div>
    </div>
  </div>
<% end %>
